---
import Blogs from "@/components/Blogs.astro";
import FeaturedBlog from "@/components/FeaturedBlog.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import type { TIndexData } from "@/types";
import { getEntryBySlug } from "astro:content";

const { blog_folder } = config.settings;
const blogIndex = (await getEntryBySlug<any, string>(
  blog_folder,
  "-index",
)) as TIndexData;
const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const featuredPost = sortedPosts.filter((item) => item.data.featured);
const recentPost = sortedPosts.filter((item) => !item.data.featured && (!item.data.series || item.data.series.length === 0));
const totalPages = Math.ceil(recentPost.length / config.settings.pagination);
const currentPosts = recentPost.slice(0, config.settings.pagination);
---

<Base
  title={blogIndex.data.title}
  meta_title={blogIndex.data.meta_title}
  description={blogIndex.data.description}
  image={blogIndex.data.image}
>
  <section class="py-4 bg-gradient-to-br from-white via-pink-50 to-yellow-50">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl md:text-3xl font-bold text-center mb-10 text-zinc-900">Articles</h2>
     
    <div class="container">
      <FeaturedBlog posts={featuredPost} />
      <h2 class="h4 mb-4">Recent Posts</h2>
      <Blogs posts={currentPosts} />
      <Pagination
        section={blog_folder}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
    </div>
  </section>
  <Cta />
</Base>
