---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright, latest_blogs, quick_links, footer_description } = config.params;
---
<footer class="footer bg-[#FFF]">
  <div class="container">
    <div class="gx-5 row pb-10">
      <!-- Logo and Description -->
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <Logo />
        <p class="mt-6 text-gray-600">{footer_description}</p>
      </div>

      <!-- Socials -->
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6 class="font-semibold text-gray-800">Connect</h6>
        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
      <!-- Latest Blogs -->
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6 class="font-semibold text-gray-800">Latest Blogs</h6>
        <ul>
          {latest_blogs.map((link) => (
            <li class="mb-2">
              <a href={link.url} class="text-gray-600 hover:text-primary">{link.name}</a>
            </li>
          ))}
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6 class="font-semibold text-gray-800">Quick Links</h6>
        <ul>
          {quick_links.map((link) => (
            <li class="mb-2">
              <a href={link.url} class="text-gray-600 hover:text-primary">{link.name}</a>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>

  <div class="container max-w-[1440px]">
    <div class="footer-copyright mx-auto pb-4 pt-2 text-center">
      <p class="content text-text">{markdownify(copyright)}</p>
    </div>
  </div>
</footer>
