---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import BlogCourses from "@/components/blog/BlogCourses.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import courseInfo from "@/data/course-info.json";

const { blog_folder } = config.settings;
const courses = await getTaxonomy(blog_folder, "courses");
---

<Base title={"courses"}>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={{ title: "Courses" }} />
    </div>
  </section>
  <section class="section">
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {Object.entries(courseInfo).map(([slug, course]) => (
        <a href={`/courses/${slug}`} class="group relative card bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow duration-300">
          <img src={course.image || "/images/collaboration.png"} alt={course.title} class="w-full h-48 object-cover rounded-md mb-4"/>
          
          <!-- Category pill -->
          <span class="inline-block bg-[#f7e26bd8] text-black text-xs font-semibold py-1 px-3 rounded-full mb-4">
            {course.category}
          </span>
          <span class="inline-block bg-[#fa729a] text-white text-xs font-semibold py-1 px-3 rounded-full mb-4">
            {course.time}
          </span>
          <h2 class="text-xl font-semibold text-gray-800">{course.title}</h2>
          <p class="text-gray-600 mt-2 mb-4">{course.description}</p>
          
          <!-- Hover overlay -->
          <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-20 transition-opacity duration-300 rounded-lg"></div>
        </a>
      ))}
    </div>
  </section>
</Base>
